doctype html
html
  head
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(href='https://fonts.googleapis.com/css?family=Revalia', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/css/app.css')
  body
    if success
        #alert
            a.success(href='#alert') Success, we will reach out as soon as possible. 
    #nav
      a(href='/contact') Contact
    .h1
      .logo
        span 2-Sides Software
        |  2-Sides Software